@font-face {
	font-family: 'SeoulHangangM';
	src: url('/ok/fonts/SeoulHangangM.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'SeoulHangangM', sans-serif;
}
