@font-face {
	font-family: 'SeoulHangangB';
	src: url('/ok/fonts/SeoulHangangB.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'SeoulHangangB', sans-serif;
}
